$brand-color: #F92672;
$bg-color: #fff;
$primary-color: #e6db74;
$main-text-color: #272822;
$icon-color: #75715e;

$text-size: 32px;
$gap: 80px;


$brand-color-dt: #F92672;
$bg-color-dt: #fff;
$primary-color-dt: #e6db74;
$main-text-color-dt: #272822;
$icon-color-dt: #75715e;
